html,
body {
  padding: 0;
  margin: 0;
  border: 1rem;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color:rgb(219, 236, 250);
}

* {
  box-sizing: border-box;
}

a {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: large;
  font-weight:300;
  text-decoration: none;
  color:black;
}

a:hover {
  font-size: large;
  font-weight:300;
  background-color: rgb(219, 236, 250);
  box-shadow:inset 0 -2px rgb(63, 88, 165);
}

a:visited {
  text-decoration: none;
  font-size: large;
  font-weight:300;
  color:black;
}

button {  
  font-size: large;
  font-weight:300;
  border: 0;
  background-color: white;
}

button:hover {
  background-color: rgb(219, 236, 250);
}

.nav-buttons {
  text-align:center;
}
code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: min(600px, 100%);
  height: min(400px, 85%);
  
}

.card{
  position:fixed;
  background-color: white;
  border-style: solid;
  border-color: rgb(63, 88, 165);
  border-radius: 7px;
  border-width: 1px 1px 5px 5px;
  width: 300px;
  height: 400px;

}

.frame{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.profile-links{
  display:flex;
  justify-content:center;
}

form {
  font-family:'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
input {
  width:100%;
  border-radius: 5px;
  border: solid royalblue 1px;
}

textarea{
  border-radius: 5px;
  border: solid royalblue 1px;
  width: 100%;
  resize:none;
}

label{
  font-size: large;
  font-weight:300;
}